version: '3'
services:
  core:
    ## https://github.com/mknentwich/core.git
    build: core/
    restart: always
    volumes:
      - ${VOLUMES}/core:/data
    expose:
      - "9400"
    ports:
      - "${IP}:9400:9400"
    environment:
      - LETSENCRYPT_HOST=core.${DOMAIN}
      - VIRTUAL_HOST=core.${DOMAIN}
      - VIRTUAL_PORT=9400

  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:80:80"
      - "${IP:-0.0.0.0}:443:443"
    volumes:
      - ${VOLUMES}/nginx/conf.d:/etc/nginx/conf.d
      - ${VOLUMES}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${VOLUMES}/nginx/html:/usr/share/nginx/html
      - ${VOLUMES}/nginx/certs:/etc/nginx/certs:ro
      - ${VOLUMES}/nginx/htpasswd:/etc/nginx/htpasswd:ro

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 15s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${VOLUMES}/nginx/conf.d:/etc/nginx/conf.d
      - ${VOLUMES}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${VOLUMES}/nginx/html:/usr/share/nginx/html
      - ${VOLUMES}/nginx/certs:/etc/nginx/certs:ro
      - ${VOLUMES}/nginx/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro

  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: ${LETS_ENCRYPT:-nginx-letsencrypt}
    restart: always
    volumes:
      - ${VOLUMES}/nginx/conf.d:/etc/nginx/conf.d
      - ${VOLUMES}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${VOLUMES}/nginx/html:/usr/share/nginx/html
      - ${VOLUMES}/nginx/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: ${DOCKER_GEN:-nginx-gen}
      NGINX_PROXY_CONTAINER: ${NGINX_WEB:-nginx-web}
